  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    background: rgb(230, 230, 230);
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: #ffffff;
    color: #000000;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00701e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #00b430;
  }

  label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
  }

  legend {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: larger;
  }

  .skip {
    font-family: "Inter", sans-serif;
  }

input[type="radio"] {
  vertical-align: middle;
}
